@font-face {
	font-family: "Flaticon";
	src: url("flaticon/flaticon.eot");
	src: url("flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon/flaticon.woff") format("woff"),
	url("flaticon/flaticon.ttf") format("truetype"),
	url("flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-balloons2:before {
	content: "\e000";
}
.flaticon-candles5:before {
	content: "\e001";
}
.flaticon-celebration11:before {
	content: "\e002";
}
.flaticon-school43:before {
	content: "\e003";
}
.flaticon-wine65:before {
	content: "\e004";
}
